html, body {font-family: sans-serif !important; font-size: 16px !important}
/*h1, h2, h3, h4, h5, h6 {font-family: "Liberation Serif", Georgia, serif !important}*/
a {text-decoration:none}
a.linky{border-bottom:1px dashed orange;}
.mt60 {margin-top:60px}

/* tag cloud */
#tagcloud li { display: inline; }
#tagcloud .tagcloud_0 a { font-size: 1.0em; color: #8ea0d2; !important}
#tagcloud .tagcloud_1 a { font-size: 1.2em; color: #7c91cb; !important}
#tagcloud .tagcloud_2 a { font-size: 1.5em; color: #6981c3; !important}
#tagcloud .tagcloud_3 a { font-size: 1.8em; color: #5772bc; !important}
#tagcloud .tagcloud_4 a { font-size: 2.1em; color: #4764b3; !important}
#tagcloud .tagcloud_5 a { font-size: 2.4em; color: #405aa0; !important}

img.fit {max-width:100%;max-height:100%}
